:root {
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-fundo-claro: #f8f9fa;
    --cor-primaria: #000000;
    --cor-primaria-hover: #1d4ed8;
    --cor-secundaria: #64748b;
    --cor-texto: #1e293b;
    --cor-texto-secundario: #475569;
    --cor-borda: #e2e8f0;
    --cor-sucesso: #16a34a;
    --cor-alerta: #ea580c;
    --cor-perigo: #dc2626;
    --cor-info: #0891b2;
}
