:root {
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-rosa-claro: #fff5fb;
    --cor-rosa-padrao: #C9529E;
    --cor-rosa-hover: #A13379;
    --cor-rosa-secundaria: #8E2E69; 
    --cor-texto: #1B0814;
    --cor-texto-secundario: #303030;
    --cor-borda: #ddd;
}
