/* Eventos em destaque */
.container-eventos-destaque .evento-destaque {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.evento-card.destaque {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.evento-card.destaque .imagem-placeholder {
    background-color: var(--cor-borda);
    height: auto;
    max-height: 300px;
    flex: 1;
    border-radius: 5px;
    object-fit: cover;
    width: 570px;
}
.evento-card.destaque .imagem-evento{
    background-color: var(--cor-borda);
    height: auto;
    max-height: 400px;
    /* flex: 1; */
    border-radius: 5px;
    object-fit: cover;
    /* width: 400px; */
}

.evento-card .evento-conteudo {
    flex: 1;
    margin: 0rem 1rem 1rem 1rem;
}

.evento-conteudo .titulo-evento {
    font-size: 1.5rem;
    color: var(--cor-texto);
    margin-bottom: 0.5rem;
}

.evento-conteudo .data-evento {
    font-size: 0.9rem;
    color: var(--cor-texto-secundario);
    margin-bottom: 1rem;
}

.evento-conteudo .descricao-evento {
    font-size: 0.9rem;
    color: var(--cor-texto);
    margin-bottom: 1rem;
}

.botao-saiba-mais {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--cor-rosa-padrao);
    color: var(--cor-branco);
    text-decoration: none;
    border-radius: 4px;
}

.botao-saiba-mais:hover {
    background-color: var(--cor-rosa-hover);
}

/* Próximos eventos */
.grid-eventos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-eventos-sm {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.evento-card {
    padding: 1rem;
    background-color: var(--cor-branco);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.evento-card .imagem-placeholder {
    margin: 1rem;
    background-color: var(--cor-borda);
    width: 535px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

/* Categorias */
.titulo-secao.categorias {
    text-align: center;
}

.container-categorias .descricao-categorias {
    text-align: center;
    margin-bottom: 2rem;
}

.grid-categorias {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-items: center;
}

.grid-categorias .imagem-placeholder {
    background-color: var(--cor-borda);
    height: 100px;
    width: 100px;
    object-fit: cover; /* Garante que a imagem não distorça */
    border-radius: 50%; /* Estilo circular */
}

.categoria-item{
    text-align: center;
}

/* Divulgue seu evento */
.divulgue-evento {
    background-color: var(--cor-borda);
    text-align: center;
    padding: 3rem 0;
    margin-top: 2rem;
}

.container-filtros {
    margin: 20px 0;
}

.campo-filtro {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.nenhum-evento {
    text-align: center;
    color: #777;
    font-size: 1.2rem;
}

