.header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    background-color: var(--cor-branco);
}
.logo{
    height: 30px;
}
.div-itens-nav{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.item-nav{
    font-size: 18.4px;
    display: flex;
    align-items: center;
    letter-spacing: -0.008em;
    color: var(--cor-rosa-padrao);
    text-decoration: none;
}
.container-btn-login{
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 1.7rem;
    margin-bottom: 0px;
}
.loc-nav{
    margin: 0px 9px;
}
.btn-login{
    width: 125px;
    height: 33px;
    font-size: 16.5px;
    background-color: var(--cor-rosa-padrao);
    border-radius: 6px;
    color: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-login:hover{
    background: var(--cor-rosa-hover);
    color: var(--cor-branco);
}
.btn-usuario{
    background-color: none;
    color: var(--cor-rosa-hover);
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-usuario:hover{
    border: 1px solid var(--cor-rosa-hover);
    color: var(--cor-rosa-hover);
}
.dropdown-item:hover{
    background-color: var(--cor-rosa-claro);
    color: var(--cor-texto);
}